.header {
  background: var(--color-light-xl);
}

h1 {
  color: var(--color-dark-l);
}

.logo h3 {
  color: var(--color-dark-3xl);
}

.nav-link {
  color: var(--color-dark-l);
}

.nav-link:hover, .nav-link-active {
  color: var(--color-dark-3xl);
}

.main {
  padding-top: 120px;
  padding-bottom: 100px;
  background: var(--color-light-l);
}

.container-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.pets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding-top: 80px;
}

.pets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  gap: 20px;
}