@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgiai.ttf");
  font-weight: 400;
  font-style: italic;
}

:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;

	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.6;

  color: var(--color-dark-xl);
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main {
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 40px 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}