footer {
  background: url("../assets/images/start-screen-gradient-background.jpg");
  background-size: cover;
  padding-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 156px;
}

footer h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.questions-container {
  padding-top: 16px;
}

.address-container {
  flex-shrink: 0;
  width: 302px;
  gap: 34px;
  padding-top: 16px;
}

.address-container .footer-item {
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 30px;
  }

  footer h2 {
    letter-spacing: 0.04em;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
  }

  .questions-container {
    width: 278px;
  }

  .address-container {
    width: 302px;
  }
}

@media screen and (max-width: 320px) {
}