.modal-wrapper {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 1000;
}

.modal-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(41, 41, 41, 0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 9px;
  background-color: var(--color-light-s);
}

.modal-img {
  width: 500px;
  height: 500px;
}

.modal-content {
  width: 400px;
  padding: 50px 20px 20px 29px;
}

.modal-title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal-subtitle {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal-description {
  margin-bottom: 40px;
  max-width: 350px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000;
}

.modal-list-label {
  font-weight: 700;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translate(90%, -100%);
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 260px;
    padding: 10px 9px 10px 11px;
  }

  .modal-img {
    width: 350px;
    height: 350px;
  }

  .modal-subtitle {
    margin-bottom: 20px;
  }

  .modal-description {
    margin-bottom: 20px;
    font-size: 13px;
  }

  .modal-button {
    transform: translate(70%, -100%);
  }
}

@media screen and (max-width: 320px) {
  .modal {
    width: 240px;
  }

  .modal-img {
    display: none;
  }

  .modal-button {
    transform: translate(50%, -100%);
  }
}